In [1]:
import pandas as pd

In [8]:
ev = pd.read_csv('notes_to_label/external_validation.csv')

In [4]:
result = pd.read_csv('notes_to_label/external_validation_cohort_note_text.csv')

In [7]:
result[['PAT_ENC_CSN_ID', 'ORDER_RESULT_COMPONENT_COMMENTS']].drop_duplicates()

     PAT_ENC_CSN_ID                    ORDER_RESULT_COMPONENT_COMMENTS
0         118591316  Indications: Hematemesis Consent: The benefits...
1         114633873  Indications: Melena with symptomatic anemia  C...
2         115596322  Indications: History of variceal bleeding, var...
3         106603292  Indications: Coffee ground emesis  Consent: Th...
4         119781173  Indications: Anemia, hemoglobin drop Consent: ...
..              ...                                                ...
810       209538596  Endoscopy ____________________________________...
811       209208920  Saint Raphael Campus Endoscopy _______________...
812       209239329  Saint Raphael Campus Endoscopy _______________...
813       209317812  Endoscopy ____________________________________...
814       209242242  Saint Raphael Campus Endoscopy _______________...

[784 rows x 2 columns]

In [16]:
result.index = result.PAT_ENC_CSN_ID

In [20]:
result.loc[ev.PAT_ENC_CSN_ID.drop_duplicates().values].drop_duplicates().to_csv('notes_to_label/external_validation_cohort_note_text.csv')

In [21]:
labeled = pd.read_csv('finished_labeling/external_results_labeled_notes.csv')

In [27]:
labeled.drop_duplicates().to_csv('finished_labeling/external_results_labeled_notes.csv')

In [26]:
labeled.index = labeled.PAT_ENC_CSN_ID

In [35]:
labeled.index

Index([118591316, 114633873, 115596322, 106603292, 119781173, 120656210,
       120656210, 121317783, 142696383, 125427434,
       ...
       209895870, 210009578, 209413803, 210782847, 210671058, 210842174,
       210717396, 210903678, 211020897, 211190649],
      dtype='int64', name='PAT_ENC_CSN_ID', length=141)

In [33]:
result.loc[125427434]['ORDER_RESULT_COMPONENT_COMMENTS']

"Indications: 78yo s/p PEG placement in OR yesterday by surgical team, GI called as he was having significant GI bleeding Consent: The benefits, risks, and alternatives to the procedure were discussed and informed consent was obtained from the patient. H & P: Prior to sedation, pre-procedure update to the history and physical examination was performed. Preparation: Pulse, pulse oximetry and blood pressure were monitored throughout the procedure. Medications: MAC anesthesia. Procedure: The gastroscope was passed with ease through the mouth under direct visualization; it was extended to the 2nd portion of the duodenum. The scope was withdrawn and the mucosa was carefully examined. The views were good. The patient''s  toleration of the procedure was good. Retroflexion was performed in the cardia. Findings:   Large pool of fresh blood with clots seen in the stomach. After thorough suctioning, the exam was performed. The PEG tube site was identified. The external bumper sutures were removed and the PEG tube was pushed in to the stomach to examine  behind the inner bumper. There was active oozing seen from tract of the gastrostomy tube insertion beneath the inner bumper. Thorough irrigation, and suction was performed. The fibrin clot was removed to examine the oozing site. The inner bumper was  pulled close to the mucosa and with this pressure tamponade, the oozing stopped.  The rest of the gastric mucosa was normal No blood seen in the duodenum, and duodenum was normal up to 3rd part. Estimated Blood Loss: None. Post Procedure Diagnosis: Active bleeding from the mucosal surface of gastrostomy site, hemostasis achieved with pressure tamponade with bumper approximation Complications: There were no complications associated with the procedure. Impressions:Active bleeding from the mucosal surface of gastrostomy site, hemostasis achieved with pressure tamponade with bumper approximation Recommendations:  Please follow H/H and transfuse accordingly  Ideally would hold Plavix, however if his neuro status does not permit, and he re-bleeds, would strongly recommend to take her OR for surgical exploration. Procedure Codes: 43255 - EGD flexible; with control of bleeding Performed By:  The procedure was performed by Thiruvengadam Muniraj MD in the presence of K Veena Nandigam MD who was present from insertion to withdrawl. cc:"

In [42]:
result.loc[255250809]

,PAT_ENC_CSN_ID,PAT_ID,PAT_ID.1,PAT_ENC_CSN_ID.1,ORDER_RESULT_COMPONENT_COMMENTS
PAT_ENC_CSN_ID,,,,,
255250809,255250809,Z2992388,Z2992388,255250809,Endoscopy ____________________________________...
255250809,255250809,Z2992388,Z2992388,255250809,Endoscopy ____________________________________...
255250809,255250809,Z2992388,Z2992388,255250809,Endoscopy ____________________________________...
255250809,255250809,Z2992388,Z2992388,255250809,Endoscopy ____________________________________...

In [52]:
result[['PAT_ENC_CSN_ID','ORDER_RESULT_COMPONENT_COMMENTS',]].drop_duplicates()

,PAT_ENC_CSN_ID,ORDER_RESULT_COMPONENT_COMMENTS
PAT_ENC_CSN_ID,,
118591316,118591316,Indications: Hematemesis Consent: The benefits...
114633873,114633873,Indications: Melena with symptomatic anemia C...
115596322,115596322,"Indications: History of variceal bleeding, var..."
106603292,106603292,Indications: Coffee ground emesis Consent: Th...
119781173,119781173,"Indications: Anemia, hemoglobin drop Consent: ..."
...,...,...
209538596,209538596,Endoscopy ____________________________________...
209208920,209208920,Saint Raphael Campus Endoscopy _______________...
209239329,209239329,Saint Raphael Campus Endoscopy _______________...
209317812,209317812,Endoscopy ____________________________________...
209242242,209242242,Saint Raphael Campus Endoscopy _______________...

array([4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 2, 2, 2, 2, 2, 2])

In [67]:
notes_to_label = result.drop(result.index.value_counts().head(21).index)

In [68]:
labeled_notes_1_chunk = pd.read_csv('../work/finished_labeling/external_results_labeled_notes_1_chunk.csv')

In [69]:
labeled_notes_2_chunk = pd.read_csv('../work/finished_labeling/external_results_labeled_notes.csv')

In [ ]:
labeled_notes_2_chunk.index = labeled_notes_2_chunk.PAT_ENC_CSN_ID

In [80]:
result.index.value_counts().head(21).index

Index([212425139, 207750395, 224732495, 232728880, 255250809, 251667107,
       209413803, 197990946, 209170927, 215147239, 281653435, 218762499,
       291330537, 281502291, 221542116, 233848593, 254447634, 233272952,
       148597949, 120656210, 138911102],
      dtype='int64', name='PAT_ENC_CSN_ID')

In [85]:
already_labeled = []
for i in notes_to_label.index:
    if i in pd.concat([labeled_notes_1_chunk, labeled_notes_2_chunk]).index.values:
        already_labeled.append(i)

In [89]:
notes_to_label.drop(already_labeled).to_csv('notes_to_label/external_validation_cohort_note_text.csv')

In [93]:
pd.concat([labeled_notes_1_chunk, labeled_notes_2_chunk]).to_csv('../work/finished_labeling/labeled_notes_1_chunk.csv' )

In [92]:
pwd

'/home/jovyan/work'

In [94]:
notes_to_label.drop(already_labeled).reset

,PAT_ENC_CSN_ID,PAT_ID,PAT_ID.1,PAT_ENC_CSN_ID.1,ORDER_RESULT_COMPONENT_COMMENTS
PAT_ENC_CSN_ID,,,,,
255651385,255651385,Z5904890,Z5904890,255651385,Saint Raphael Campus Endoscopy _______________...
257396093,257396093,Z4450906,Z4450906,257396093,Endoscopy ____________________________________...
256183104,256183104,Z1363499,Z1363499,256183104,Endoscopy ____________________________________...
257690286,257690286,Z1295218,Z1295218,257690286,Endoscopy ____________________________________...
258060763,258060763,Z3088171,Z3088171,258060763,Endoscopy ____________________________________...
...,...,...,...,...,...
209538596,209538596,Z4595108,Z4595108,209538596,Endoscopy ____________________________________...
209208920,209208920,Z627700,Z627700,209208920,Saint Raphael Campus Endoscopy _______________...
209239329,209239329,Z4565432,Z4565432,209239329,Saint Raphael Campus Endoscopy _______________...
209317812,209317812,Z6262083,Z6262083,209317812,Endoscopy ____________________________________...
209242242,209242242,Z1212496,Z1212496,209242242,Saint Raphael Campus Endoscopy _______________...